@font-face {
  font-family: "Signature";
  src: url(fonts/BellisyaSignature.woff2);
}

@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat.ttf);
}

@font-face {
  font-family: "RussoOne";
  src: url(fonts/RussoOne.woff2);
}
